#banner {
  width: 100%;
  height: 100px;
  top: 0;
  opacity: 0.95;
  background-color: #191919; 
  background-repeat: repeat-y;
  background: -webkit-gradient(linear, left top, right top, from(#242424), to(#222B34)); 
  background: -webkit-linear-gradient(left, #242424, #222B34);
  background: -moz-linear-gradient(left, #242424, #222B34);
}

#banner-text {
  padding-left: 50px;
  padding-top: 10px;
  font-size: 70px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 550;
}

body {
  background-image: url('wardrobe.jpg');
  background-size: cover;
  width: auto;
  height: auto;
  min-height: 100%;
  z-index: -1
}

#gallery-container {
  background-color: #191919; 
  width: 300px; 
  left: 50px;
  position: fixed;
  height: 550px;
  overflow-y: scroll;
  top: 150px;
}

#consumer-container {
  background-color: #191919; 
  width: 320px; 
  left: 800px;
  position: fixed;
  height: 250px;
  top: 150px;

}

#consumer-info {
  background-color: #191919; 
  width: 310px; 
  left: 800px;
  position: fixed;
  height: 150px;
  top: 400px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: white;
  padding: 5px;
  opacity: 0.8;
}

#chart-container {
  background-color: #E9E9E9;
  position: fixed;
  width: 300px; 
  left: 500px;
  height: 250px;
  top: 450px;
}

#myChart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

#dashboard {
  background-color: #191919; 
  width: 315px; 
  left: 800px;
  position: fixed;
  height: 150px;
  top: 550px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
  padding-left: 5px;
  opacity: 0.8;
}

#store { 
    position: fixed;
    width: 300px; 
    left: 500px;
    height: 300px;
    top: 150px;
    background-color: grey; 
  }



ul {
    list-style-position: inside;
    list-style-type: none;
    display: inline-block;
} 


 li { 
    width: 96px; 
    padding: 0.4em; 
    margin: 0 0.4em 0.4em 0; 
    text-align: center; 
    background-color: #404A57; 
    display: inline-block;
  }

  li h5 { 
    cursor: move; 
    background-color: #191919; 
  }


  li img { 
    width: 100%; 
    cursor: move;
    background-color: grey; 
    display: inline-block;

  }

a {
  color: grey;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.consumers {
  padding-top: 10px;
  padding-left: 10px;
}

.consumers img {
  display: inline-block;
  width: 80%; 
}

#dashboard1funds {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  color: orange;
}

